header {
  max-width: 50%;
  padding: 0rem 2rem;
  margin: 2rem 0rem;
  border: 2px solid rgba(95, 95, 95, 0.7);
  border-radius: 3rem;
  background-color: rgba(55, 55, 55, 0.5);
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 1;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    a {
      color: rgb(224, 224, 224, 0.7);
      font-size: 1.5rem;
      font-weight: 100;
      padding: 0.8rem 1rem;
      border-radius: 50px;
      border-bottom: 2px solid transparent;
    }

    a:hover {
      color: rgb(0, 0, 0);
      background-color: white;
      transition: 0.3s ease;
    }
  }
}
