header {
  max-width: 70%;
  padding: 0rem 2rem;
  margin: 2rem 0rem;
  border-radius: 3rem;
  border: 1px solid var(--fbc-light-variant);
  background-color: var(--header-bg);
  backdrop-filter: blur(8px);
  position: fixed;
  z-index: 1;

  nav {
    gap: 2rem;

    a {
      color: var(--sbc-light-variant);
      font-size: 1.5rem;
      font-weight: 100;
      padding: 0.8rem 1rem;
      border-radius: 50px;
      border-bottom: 2px solid transparent;
      opacity: 0.5;
    }

    a:hover {
      color: var(--fbc-dark-variant);
      background-color: var(--sbc-light-variant);
      transition: 0.3s ease;
      opacity: 1;
    }
  }
}
