#hero {
  padding-top: 10rem;
  animation: appear 2s ease;
  max-width: 70%;
  gap: 12rem;

  .perfil {
    width: 60%;

    img {
      width: 100%;
      border-radius: 50%;
      border: 2px solid var(--second-base-color);
      animation: appear 2s ease-in-out forwards;
    }
  }

  .hero-conjunto {
    width: 100%;
    flex-direction: column;
    align-items: end;
    gap: 3rem;

    .info {
      width: 90%;
  
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: end;
      }
  
      p {
        font-size: 1.6rem;
        font-weight: 100;
        text-align: end;
      }
    }
  
    .links {
      width: 35%;
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 1.5rem;
  
      a {
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(8px);
        border: 1px solid var(--second-base-color);
        border-radius: 50%;
        padding: 1rem;
        opacity: 0.7;
  
        img {
          width: 100%;
        }
      }
  
      a:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
        background-color: var(--third-base-color);
        opacity: 1;
      }
    }
  }

}