section {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 2s ease;
  max-width: 60%;
  gap: 5rem;

  .perfil {
    width: 50%;

    img {
      width: 100%;
      border-radius: 50%;
      border: 2px solid rgb(180, 180, 180);
      animation: appear 2s ease-in-out forwards;
    }
  }

  .about-conjunto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2.5rem;

    .info {
      width: 90%;
  
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: end;
      }
  
      p {
        font-size: 1.6rem;
        font-weight: 100;
        text-align: end;
      }
    }
  
    .links {
      width: 40%;
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 1.5rem;
  
      a {
        width: 100%;
        background-color: rgba(11, 0, 25, 0.5);
        backdrop-filter: blur(8px);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          width: 100%;
        }
      }
  
      a:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
        background-color: rgb(32, 3, 73);
      }
    }
  }

}

@keyframes appear {
  0% {
    transform: translateY(-2rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
