@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(90deg, #070707 5%, #0d0022 50%, #070707 95%);
}

#root {
  place-items: center;
  margin: 0 auto;
  padding: 0rem;
}