#contacts {
  display: flex;
  flex-direction: column;

  .contact-links {
    margin: 1.5rem 0rem 5rem 0rem;
    flex-direction: column;
    gap: 1rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0.8rem;
      border-radius: 10px;
      border: 1px solid var(--sbc-light-variant);
      width: 80%;
      gap: 3rem;

      img {
        width: 20%;
      }

      span {
        width: 100%;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    a:hover {
      background-color: var(--tbc-light-variant);
      border: 1px solid var(--tbc-light-variant);
      transition: 0.5s ease;
      transform: translateY(-0.2rem);
    }
  }
}
