#exp {

    div {
        flex-direction: column;
        gap: 2rem;

        .line {
            background-color: var(--second-base-color);
            padding: 3rem 0.1rem;
            max-width: 0.1rem;
            gap: 12rem;

            .circle {
                padding: 3rem;
                border-radius: 50%;
                background-color: var(--second-base-color);
                color: black;

                img {
                    width: 2rem;
                }
            }
        }
    }

}