footer {
    width: 100%;
    background: var(--first-base-color);
    box-shadow: 0px -5px 8px var(--fbc-dark-variant);
    padding: 3rem 10rem ;

    div{
        .title{
            margin: 0rem 0rem 1.5rem 0rem;

            h2{
                font-weight: 600;
            }

            h3{
                font-weight: 300;
            }
        }

        .social-links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8rem;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--first-base-color);
                padding: 0.5rem 0.8rem;
                border-radius: 10px;
                width: 12%;
                
                img{
                    width: 15%;
                }

                span{
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }

            a:hover {
                background-color: var(--fbc-dark-variant);
                transition: 0.5s ease;
                transform: translateY(-0.2rem);
            }
        }
    }

    hr {
        margin: 1.5rem 0rem;
    }

    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 46rem;

        span{
            font-weight: 300;
            font-size: 0.8rem;
        }
    }
}