#hero {
  padding-top: 10rem;
  animation: appear 2s ease;
  max-width: 70%;
  gap: 12rem;

  .perfil {
    width: 55%;

    img {
      width: 100%;
      border-radius: 50%;
      border: 2px solid var(--second-base-color);
      animation: appear 2s ease-in-out forwards;
    }
  }

  .hero-conjunto {
    width: 100%;
    flex-direction: column;
    gap: 1rem;

    .info {
      width: 100%;
  
      h2 {
        font-size: 2.2rem;
        font-weight: 600;
        text-align: end;
      }
  
      p {
        font-size: 1.6rem;
        font-weight: 100;
        text-align: end;
      }
    }
  
    .links {
      margin-right: 1rem;
      display: flex;
      gap: 1.5rem;
      width: 40%;
  
      a {
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(8px);
        border: 1px solid var(--second-base-color);
        border-radius: 50%;
        padding: 0.8rem;
        opacity: 0.7;
  
        img {
          width: 100%;
        }
      }
  
      a:hover {
        transform: scale(1.1);
        transition: 0.5s ease;
        background-color: var(--tbc-dark-variant);
        opacity: 1;
      }
    }
  }

}