@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

#root {
  place-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#bg {
  width: 100%;
  height: 100%;
  color: var(--second-base-color);
  background: linear-gradient(
    120deg,
    var(--fbc-dark-variant) 0%,
    var(--tbc-dark-variant) 20%,
    var(--third-base-color) 30%,
    var(--tbc-dark-variant) 65%,
    var(--fbc-dark-variant) 100%
  );

  --fbc-dark-variant: #000000;
  --first-base-color: #101010;
  --fbc-light-variant: #202020;

  --sbc-dark-variant: #aaa;
  --second-base-color: #ccc;
  --sbc-light-variant: #fff;

  --tbc-dark-variant: #0d0022;
  --third-base-color: #2a006e;
  --tbc-light-variant: #4700b9;

  --header-bg: rgba(51, 51, 51, 0.7);
  --about-bg: rgba(78, 78, 78, 0.3);
  --card-bg: rgba(255, 255, 255, 0.1);
  --card-bg-hover: rgba(140, 35, 253, 0.4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shine {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  background-image: linear-gradient(
    125deg,
    var(--sbc-dark-variant) 0%,
    var(--second-base-color) 15%,
    var(--tbc-light-variant) 35%,
    var(--third-base-color) 50%,
    var(--tbc-light-variant) 65%,
    var(--second-base-color) 75%,
    var(--sbc-dark-variant) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes appear {
  0% {
    transform: translateY(-2rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes roll {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes boom {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes header-appear {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 35%;
    opacity: 1;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
